@import "../../utils/variables";
.notification:first-child {
  margin: 2em 4em;
}
.notification {
  display: flex;
  flex-direction: column;
  margin: 3.5em 4em;
  border-radius: 2%;
  align-items: center;
  flex-basis: 25%;
  text-decoration: none;
  color: black;
  padding: 0.5em 0.25em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 0.25s all ease-out;
  .image {
    svg,
    img {
      width: 14em;
      height: 5em;
      filter: grayscale(50%);
      transition: 0.25s all ease-in-out;
    }
  }
  h2 {
    transition: 0.25s all ease-in-out;
  }
  &.hovered {
    flex-direction: row;
    filter: none;
    flex-basis: 30%;
    .image {
      svg,
      img {
        width: 10em;
        height: 10em;
        filter: grayscale(0%);
        transition: 0.25s all ease-in-out;
      }
    }
    .text {
      padding: 0 1em;
      h2 {
        transition: 0.25s all ease-in-out;
      }
    }
  }
}

.blur {
  filter: blur(2px);
}

@media (min-width: 768px) {
  .notification,
  .notification:first-child {
    margin: 2em 4em;
    padding: 2em 0.5em;
    &.hovered {
      flex-basis: 40%;
      .image {
        svg,
        img {
          width: 10em;
          height: 10em;
          filter: grayscale(0%);
          transition: 0.25s all ease-in-out;
        }
      }
      .text {
        padding: 0 1em;
        h2 {
          transition: 0.25s all ease-in-out;
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  .notification,
  .notification:first-child {
    padding: 4em 2em;
    flex-basis: 30%;
    .image {
      svg,
      img {
        width: 18em;
        height: 8em;
      }
    }
    h2 {
      font-size: 1.75em;
    }
    &.hovered {
      flex-basis: 40%;
      .image {
        svg,
        img {
          width: 15em;
          height: 10em;
          filter: grayscale(0%);
          transition: 0.25s all ease-in-out;
        }
      }
    }
  }
}
