@import "../../utils/variables";
.notification:first-child {
  margin: 2em 4em;
}
.notification {
  display: flex;
  flex-direction: column;
  margin: 3.5em 4em;
  border-radius: 2%;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 0.5em 0.25em;
  box-shadow: rgba(0, 0, 0, 0.1) 12px 12px 12px;
  transition: 0.25s all ease-in-out;
  .image {
    svg,
    img {
      width: 14em;
      height: 5em;
      filter: grayscale(50%);
      transition: 0.25s all ease-in-out;
    }
  }
  h2 {
    transition: 0.25s all ease-in-out;
  }
  &:hover {
    border-radius: 10%;
    .image {
      img,
      svg {
        filter: grayscale(0%);
      }
    }
    .text {
      transform: scale(1.25);
    }
  }
}

@media (min-width: 768px) {
  .notification,
  .notification:first-child {
    margin: 2em 1.5em;
    padding: 2em 0.5em;
  }
}

@media (min-width: 1280px) {
  .notification,
  .notification:first-child {
    padding: 4em 2em;
    .image {
      svg,
      img {
        width: 18em;
        height: 8em;
      }
    }
    h2 {
      font-size: 1.75em;
    }
  }
}
