.register {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)),
    url("../../assets/RegisterScreen.jpg");
  background-size: 200%;
  background-position: 50%;
  background-repeat: repeat-x;
  height: 73.9vh;
  justify-content: center;
}
