@import "../../utils/variables";

.nav-item {
  padding: 0.25em 0 0.25em 0;
  background: linear-gradient(currentColor 0 0) bottom left/
    var(--underline-width, 0%) 0.1em no-repeat;
  align-self: center;
  display: inline-block;
  color: $textColor;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  font-weight: 500;
  &:hover {
    --underline-width: 100%;
  }
}

@media (min-width: 768px) {
  .nav-item {
    padding: 0 0.5em 0 0.5em;
  }
}
