@import "../../utils/variables";

footer {
  background-color: $navAndFooterColor;
  color: $textColor;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0.25em;
}

@media (min-width: 768px) {
  footer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
