@import "../../utils/variables";

.success {
  background-color: $successColor;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0.5em;
  width: 80%;
  padding: 0.25em;
  border-radius: 0.25em;
}

.error {
  background-color: $errorColor;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0.5em;
  width: 80%;
  padding: 0.25em;
  border-radius: 0.25em;
}
