@import "../../utils/variables.scss";
.forgot-password {
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25)),
    url("../../assets/ForgotPasswordScreen.jpg");
  background-size: 200%;
  background-position: 50%;
  background-repeat: repeat-x;
  height: 73.9vh;
  justify-content: center;

  .content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25em;
    padding: 0 1em;
    border-radius: 1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    h2 {
      padding: 0.75em 0;
      text-align: center;
    }
    h3 {
      padding: 0 0 0.5em 0;
      text-align: center;
    }
    .email {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      padding: 1em 0;
      label {
        width: 80%;
        font-size: 1.25em;
        padding: 0.5em 0;
        align-self: center;
      }
      input {
        padding: 0.25em 0;
        width: 80%;
        border-color: rgba($secondaryColor, 0.3);
        align-self: center;
        font-size: 1.25em;
        transition: border-color 0.25s;
        &:hover {
          border-color: rgba($secondaryColor, 0.5);
        }
        &:focus {
          border-color: rgba($secondaryColor, 1);
          outline: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .forgot-password {
    .content {
      .email {
        width: 60%;
      }
    }
  }
}

@media (min-width: 1024px) {
  .forgot-password {
    .content {
      .email {
        width: 40%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .forgot-password {
    .content {
      width: 50%;
      .email {
        width: 40%;
      }
    }
  }
}
