@import "../../utils/variables";
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  z-index: 1;
  color: $textSecondColor;
  .logo-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      padding: 0.25em 0.25em 0.25em 0;
      text-shadow: 0em 0em 0.01em hsl(0, 0%, 0%);
    }
  }

  .nav-links,
  .auth {
    transition: all 0.25s ease-in-out;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .auth {
    .user-info {
      display: flex;
      align-items: center;
      justify-content: center;
      .nav-item {
        margin: 0 0.25em;
      }
    }
    .inverted {
      padding: 0.25em 0 0.25em 0;
      background: linear-gradient(currentColor 0 0) bottom left/
        var(--underline-width, 0%) 0.1em no-repeat;
      align-self: center;
      display: inline-block;
      color: $textColor;
      text-decoration: none;
      transition: 0.25s all ease-in-out;
      font-weight: 500;
      &:hover {
        --underline-width: 100%;
      }
    }
  }

  .nav-links {
    .nav-item {
      color: $textSecondColor;
    }
  }

  .auth {
    .nav-item {
      color: $textSecondColor;
      margin: 0 1em;
    }
  }
}

.closed {
  .nav-links,
  .auth {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.opened {
  .nav-links,
  .auth {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    height: 10vh;
    .logo-hamburger {
      .hamburger {
        display: none;
        visibility: none;
      }
    }

    .nav-links {
      flex: 0.05;
    }

    .auth {
      flex: 1;
      padding: 0;
      justify-content: flex-end;
      flex-direction: row;
    }
  }
}
