@import "../../utils/variables";
.navbar {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  z-index: 1;
  color: $textSecondColor;
  .logo-hamburger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      padding: 0.25em 0.25em 0.25em 0;
    }
  }

  .nav-links,
  .auth {
    transition: all 0.25s ease-in-out;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }

  .nav-links {
    .nav-item {
      color: $textSecondColor;
    }
  }

  .auth {
    .nav-item {
      color: $textSecondColor;
      margin: 0 1em;
    }
  }
}

.closed {
  .nav-links,
  .auth {
    height: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.opened {
  .nav-links,
  .auth {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    height: 10vh;
    .logo-hamburger {
      .hamburger {
        display: none;
        visibility: none;
      }
    }

    .nav-links {
      flex: 0.05;
    }

    .auth {
      flex: 1;
      padding: 0;
      justify-content: flex-end;
      flex-direction: row;
    }
  }
}
