@import "../../utils/variables.scss";

.normal {
  padding: 1em 2em;
  font-size: 1em;
  font-weight: bold;
  color: $textColor;
  cursor: pointer;
  background-color: $secondaryColor;
  border: none;
  border-radius: 2em;
  transition: 0.6s cubic-bezier(0.5, 0, 0.75, 0) all;
  &:hover {
    color: $secondaryColor;
    background-color: white;
  }
}

.inverted {
  padding: 1em 2em;
  font-size: 1em;
  font-weight: bold;
  color: $secondaryColor;
  background-color: white;
  border: none;
  cursor: pointer;
  border-radius: 2em;
  transition: 0.1s cubic-bezier(0.5, 0, 0.75, 0) all;
  &:hover {
    color: $textColor;
    background-color: $secondaryColor;
  }
}

.nav-button {
  padding: 0.25em 0 0.25em 0;
  background: linear-gradient(currentColor 0 0) bottom left/
    var(--underline-width, 0%) 0.1em no-repeat;
  align-self: center;
  display: inline-block;
  color: $secondaryColor;
  border: none;
  font-size: 1em;
  cursor: pointer;
  text-decoration: none;
  transition: 0.25s all ease-in-out;
  font-weight: 500;
  &:hover {
    --underline-width: 100%;
  }
}

.disable {
  padding: 0.5em 2em;
  font-size: 1.15em;
  font-weight: bold;
  color: $textColor;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $disabledButton;
  border: none;
  border-radius: 2em;
  transition: 0.25s ease-in-out all;
  .animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5em;
    height: 5em;
  }
}

@media (min-width: 768px) {
  .nav-button {
    margin: 0 1em 0 2em;
  }
}
