@import "../../utils/variables";

.hero {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  .text {
    order: 2;
    display: flex;
    color: $secondaryColor;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5em 1.5em;
    padding: 2em 0.5em;
    border-radius: 0 0 2em 2em;
    h2 {
      font-size: 2em;
      padding: 0 0 0.5em 0;
      text-align: center;
    }
    p {
      font-size: 1.25em;
      letter-spacing: 0.05em;
      line-height: 1.3em;
      text-align: center;
    }
  }
  .image-div {
    background-image: url("../../assets/HeroImage.jpg");
    min-height: 20em;
    background-position: 50% 50%;
    background-size: 100%;
    margin: 0 1.25em;
    border-radius: 50%;
    border-bottom: 0.1em solid $textColor;
  }
}

@media (min-width: 768px) {
  .hero {
    min-height: 73vh;
    flex-direction: row;
    .text {
      order: 1;
      border-radius: 50%;
      height: 20em;
      width: 200em;
      align-self: center;
      h2 {
        font-size: 1.25em;
        text-align: center;
      }
      p {
        font-size: 1em;
        padding: 0 0.5em;
      }
    }
    .image-div {
      order: 2;
      height: 70vh;
      width: 200em;
      border-radius: 2em;
      background-repeat: no-repeat;
      background-size: cover;
      border: none;
    }
  }
}

@media (min-width: 1240px) {
  .hero {
    min-height: 73vh;
    flex-direction: row;
    .text {
      order: 1;
      border-radius: 50%;
      height: 30em;
      width: 200em;
      align-self: center;
      h2 {
        font-size: 1.75em;
        text-align: center;
      }
      p {
        font-size: 1.5em;
        padding: 0 0.5em;
      }
    }
    .image-div {
      order: 2;
      height: 70vh;
      width: 200em;
      border-radius: 2em;
      background-repeat: no-repeat;
      background-size: 100%;
      border: none;
    }
  }
}
