@import "../../utils/variables";

.basic-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 3em 0;
  .first-name,
  .last-name,
  .email,
  .birth-date,
  .gender {
    display: flex;
    flex-direction: column;
    width: 80%;
    label {
      width: 80%;
      font-size: 1.25em;
      padding: 0.5em 0;
      align-self: center;
    }
    input {
      padding: 0.25em 0;
      width: 80%;
      border-color: rgba($secondaryColor, 0.3);
      align-self: center;
      font-size: 1.25em;
      transition: border-color 0.25s;
      &:hover {
        border-color: rgba($secondaryColor, 0.5);
      }
      &:focus {
        border-color: rgba($secondaryColor, 1);
        outline: none;
      }
    }
  }
  .normal {
    margin: 2em 0 0 0;
  }
}

@media (min-width: 1024px) {
  .basic-info {
    .first-name,
    .last-name,
    .email,
    .birth-date,
    .gender {
      width: 30%;
    }
  }
}
