@import "../../utils/variables";

.edit-profile-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  .current-page {
    display: flex;
    align-items: center;
    svg {
      height: 2em;
      width: 3em;
      color: $secondaryColor;
      transition: transform 0.25s ease-in-out;
    }
    .up {
      transform: rotate(180deg);
    }
    .title {
      color: $secondaryColor;
    }
    &:hover {
      cursor: pointer;
      svg {
        color: rgba($secondaryColor, 0.5);
      }
      .title {
        color: rgba($secondaryColor, 0.5);
      }
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    padding: 0.75em 0;
    transition: all 0.25s ease-in-out;

    .nav-item {
      padding: 0.25em 0;
      color: $secondaryColor;
    }
  }
  .hidden {
    visibility: hidden;
    transform: scale(0);
    height: 0;
  }
  .opened {
    visibility: visible;
    transform: scale(1);
    height: 5em;
  }
}
